@use '@picocss/pico/scss/pico' with ($theme-color: 'indigo');
@use '@picocss/pico/scss/colors' as *;

// grid system
.gridder {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.linker-card {
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    /* outline: 1px solid $indigo-100; */
    box-shadow: $indigo-800 0px 0px 0px 2px, $indigo-100 0px 0px 0px 4px, rgba(0, 0, 0,
    0.05) 0px 1px 2px 0px;
  }

  &>header {
    flex: 1;
    /* padding: 0; */
    margin: 0;
  }

  &>img {
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
  }
}
