
# SUPABASE
# VITE_SUPABASE_URL="https://loirjlhpcmisfueidjpz.supabase.co"
# VITE_SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxvaXJqbGhwY21pc2Z1ZWlkanB6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxMTA4ODksImV4cCI6MjA2MjY4Njg4OX0.QUWsSQQ9LC7CGis0iF-LrIXXJGgoudvur3zsqykSQvE"
# VITE_SUPABASE_PROJECT_ID="loirjlhpcmisfueidjpz"
# SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxvaXJqbGhwY21pc2Z1ZWlkanB6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzExMDg4OSwiZXhwIjoyMDYyNjg2ODg5fQ.pq0FoymC4ZYXoubcqdeli5jGNyFb81o3ow_m-9lrIfo"

# in: https://supabase.com/dashboard/project/ootaiunorfuaalxdqdzu
VITE_SUPABASE_URL=
# in: https://supabase.com/dashboard/project/ootaiunorfuaalxdqdzu/settings/api-keys
# in "anon public" input
VITE_SUPABASE_KEY=
# in: https://supabase.com/dashboard/project/ootaiunorfuaalxdqdzu/settings/general
VITE_SUPABASE_PROJECT_ID=
# in: https://supabase.com/dashboard/project/ootaiunorfuaalxdqdzu/settings/api-keys
# in "service_role secret" input
SERVICE_ROLE_KEY=

TESTING_USER_EMAIL=
